<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= book.category_id %>
  </p>

  <p>
    <strong>Proposal date:</strong>
    <%= book.proposal_date %>
  </p>

  <p>
    <strong>Contract date:</strong>
    <%= book.contract_date %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= book.published_date %>
  </p>

  <p>
    <strong>Units sold:</strong>
    <%= book.units_sold %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= book.notes %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= book.active %>
  </p>

</div>
