<h2>Books Currently Under Contract</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
		<th>Contract Date</th>
		<th>Author (first)</th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= link_to book.title, book_path(book) %></td>
    <td><%= book.category.name %></td>
		<td><%= book.contract_date.strftime("%m/%d/%y") %></td>
	  	<%if book.authors != []%>
		<td><%= book.authors.alphabetical.first.name %></td>
	  	<% end %>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @books, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />