<!DOCTYPE html>
<html>
  <head>
    <title>BookmanagerUpdated</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        &nbsp&nbsp
        <a href="/" class="brand-logo">BookManager</a>
        <ul class="right">
          <li><%= link_to "Authors", authors_path %></li>
          <li><%= link_to "Books", books_path %></li>
          <li><%= link_to "Categories", categories_path %></li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col s8 center">
        <!-- MAIN CONTENT GOES HERE -->
        <%= yield %>
        <%= javascript_include_tag "application" %>

        <% flash.each do |message_type, message| %>
          <%= javascript_tag "M.toast({html: '<p>#{message}</p>', displayLength: 4000})" %>
        <% end %>
      </div>

      <div class="col s1">
      </div>

      <div class="col s3">
        <!-- SIDEBAR CONTENT GOES HERE -->
        <%= render partial: 'partials/quick_links' %>
      </div>

    </div>

    <footer>
      <div class="row">
        <div class="col s8 center">
          <%= render partial: 'partials/footer' %>
        </div>
      </div> 
    </footer>  
  </body>
  <%= javascript_include_tag "application" %>
</html>
